
= link_to 'add task',"tasks/new/", :class => "btn btn-default"


-@tasks.each do |var|
  %h2
    = link_to var.name,"tasks/works/#{var.id}?year=#{Time.now.year}&amp;month=#{Time.now.month}"

  .row
    -if var.works.find_all{|el| el.endtime == nil}.count == 1
      /- 既に就業中
      - task = var.works.find_all{|el| el.endtime == nil}[0]
      .col-xs-6
        = form_tag do
          = submit_tag "Start at #{task.starttime}",:disabled=>true, :class => "btn btn-default"

      .col-xs-6
        = form_tag "works/#{task.id}",:class =>"form-inline", :method => :put do
          = hidden_field :work, :start, :value => false
          = submit_tag("End", :class => "btn btn-default btn-primary")
          %label
            = check_box 'work', 'is_exist_breaktime', {:checked => false}, true, false
            had a nice break!
    -else
      /- 就業前
      .col-xs-6
        = form_tag "works/" do
          = hidden_field :work, :start, :value => true
          = hidden_field :work, :task_id, :value => var.id
          = submit_tag("Start", :class => "btn btn-default btn-primary")

      .col-xs-6
        = form_tag do
          = submit_tag "End",:disabled=>true, :class => "btn btn-default"
  %hr
