%h2
  = "#{@month} / #{@year}"
%h3
  = "稼働時間 #{@persent}% ( #{@sum} / #{@max} )"
%h4
  = "稼働可能日数:#{@days}日"
%h5
  = "#{@amount} / #{@max_amount}"


%table.table.table-striped
  %tr
    %th
      = :start
    %th
      = :end
    %th
      break time for 1 hour
    %th
      = :duration
  -@works.each do |var|
    %tr
      %td
        = var[:start]
      %td
        = var[:end]
      %td
        = (var[:break]) ? "-1 hour":""
      %td
        = var[:duration_s]
