%h2
  = @sum

%table.table.table-striped
  %tr
    %th
      = :start
    %th
      = :end
    %th
      = :duration
  -@works.each do |var|
    %tr
      %td
        = var[:start]
      %td
        = var[:end]
      %td
        = var[:duration_s]
